.footer {
    background-color: var(--green-300);
    color: var(--green-500);
    display: grid;
    padding: 3rem 2rem;
    place-items: center;

    &__logo {
        display: block;
        height: auto;
        margin: 0 auto;
        text-align: center;
        width: 170px;

        path {
            fill: var(--green-500);
        }
    }

    &__content {
        max-width: 350px;
        width: 100%;
    }

    &__links {
        align-items: center;
        display: flex;
        gap: 3rem;
        justify-content: center;
        margin: 0 auto;
        padding: 2rem 0;
    }

    &__social-links {
        align-items: center;
        display: flex;
        gap: 1.5rem;
        justify-content: center;
        margin: 0 auto;
        max-width: 170px;
        padding: 3rem 0;
    }

    &__link,
    &__social-link {
        &:hover {
            color: var(--white);
        }
    }
}
