@use '../mixins' as *;

:root {
    --header-size: 6rem;
}

.header {
    align-items: center;
    background-color: var(--blue-400);
    color: var(--white);
    display: flex;
    height: var(--header-size);
    padding: var(--space);
    position: fixed;
    width: 100%;
    z-index: 100;

    @include mq-md {
        position: absolute;
    }

    &__nav {
        align-items: center;
        display: flex;
        gap: 3rem;
        margin-left: auto;
    }

    &__mobile-nav {
        display: none;
        left: 0;
        padding: var(--space);
        position: absolute;
        top: var(--header-size);
        width: 100%;
    }

    &__menu-toggle {
        cursor: pointer;
        margin-left: auto;
        position: relative;

        span,
        span::before,
        span::after {
            background: var(--white);
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            width: 25px;
        }
        span {
            position: relative;
        }
        span::before {
            transform: translateY(-8px);
        }
        span::after {
            transform: translateY(8px);
        }
    }
}

.showMenu {
    display: none;
}

.showMenu:checked ~ .header__mobile-nav {
    display: block;
}

.mobile-nav {
    background-color: var(--white);
    color: var(--text-secondary);
    display: flex;
    flex-flow: column;
    font-size: 1.25rem;
    padding: 2rem;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1000;

    &::before {
        border-bottom: 1.5rem solid var(--white);
        border-left: 1.5rem solid transparent;
        content: "";
        position: absolute;
        right: 0;
        top: -20px;
    }

    &__item,
    &__button {
        padding: 1rem 0;
    }

    &__button {
        background-color: var(--yellow-500);
        border-radius: 2rem;
        color: var(--text);
        display: inline-block;
        font-family: Fraunces;
        font-size: 1rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
    }
}
