.hero {
    background-color: hsl(200, 100%, 62%);
    background-image: url("images/mobile/image-header.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    padding-bottom: 8rem;
    padding-top: var(--header-size);
    position: relative;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: 769px) {
        background-image: url("images/desktop/image-header.jpg");
    }

    &__title {
        letter-spacing: 0.5rem;
        margin-bottom: 3rem;
        margin-top: 5rem;
    }

    img {
        margin: 0 auto;
    }
}
