@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

:root {
    --header-size: 6rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: hsl(212, 27%, 19%);
    font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    height: auto;
    line-height: 0;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Fraunces;
    font-weight: 900;
    margin: 0;
}

h3 {
    font-size: 2rem;
}

.header {
    align-items: center;
    color: hsl(0, 0%, 100%);
    display: flex;
    height: var(--header-size);
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 100;

    &__brand {
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__navigation {
        display: none;
    }

    &__menu-toggle {
        cursor: pointer;
        margin-left: auto;
        position: relative;

        span,
        span::before,
        span::after {
            background: hsl(0, 0%, 100%);
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            width: 25px;
        }
        span {
            position: relative;
        }
        span::before {
            transform: translateY(-8px);
        }
        span::after {
            transform: translateY(8px);
        }
    }
}

.hero {
    background-color: hsl(200, 100%, 62%);
    background-image: url("images/mobile/image-header.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    padding-bottom: 8rem;
    padding-top: var(--header-size);
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &__title {
        letter-spacing: 0.5rem;
        margin-bottom: 3rem;
        margin-top: 5rem;
    }

    img {
        margin: 0 auto;
    }
}

.content {
    padding: 4rem 1.5rem;
    text-align: center;

    p {
        color: hsl(232, 10%, 55%);
        font-size: 18px;
        line-height: 1.6;
    }
}

.link {
    display: inline-block;
    font-family: Fraunces;
    font-weight: 900;
    position: relative;
    text-transform: uppercase;

    &--yellow::after,
    &--pink::after {
        border-radius: 2px;
        content: "";
        display: block;
        height: 10px;
        left: 50%;
        opacity: 0.3;
        position: relative;
        transform: translate(-50%, -70%);
        transition: opacity 0.1s ease-out;
        width: 110%;
        z-index: -1;
    }
    &--yellow::after {
        background-color: hsl(51, 100%, 49%);
    }
    &--pink::after {
        background-color: hsl(7, 99%, 70%);
    }

    &:hover {
        &.link--yellow::after,
        &.link--pink::after {
            opacity: 1;
        }
    }
}

.bg-image {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.graphic-design {
    background-image: url("images/mobile/image-graphic-design.jpg");
    padding-top: 380px;

    p {
        color: hsl(167, 40%, 24%);
    }
}

.photography {
    background-image: url("images/mobile/image-photography.jpg");
    padding-top: 380px;

    p {
        color: hsl(198, 62%, 26%);
    }
}

.md\:grid-2-col {
    @media screen and (min-width: 991px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
