@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

:root {
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
}
body {
    font-family: Barlow, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
    line-height: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.header {
    height: 56px;
    position: fixed;
    display: flex;
    align-items: center;
    color: hsl(0, 0%, 100%);
    width: 100%;
}

.hero {
    background-color: hsl(200, 100%, 62%);
    position: relative;
}
